div{
    
    margin: 0 auto;
}
body{
    text-align: center;
    background-color: gray;
}
.box{
background-color: white;
width: 500px;
border: 2px solid black;
border-radius:8px;
padding: 15px;
}
img{
    width: 100%;
}
button{
    background-color: blue;
    text-align: center;
    font-size: 20px;
    padding: 30px;
}
.price{
color: red;
}
