h2{
    text-align: center;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap : 20px;
}
.card{
    background-color: white;
    box-shadow: 0 4px 6px rgba(0,0,0,1);
}